*{
	margin: 0;
	padding: 0;
	
}
html,body {
	height: 100%;
	font-family: "microsoft yahei";
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color:transparent;
}

.start, .shareStart, .question, .result {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	background-color: #ff7b7b;
}

.start {
	.start_btn {
		margin: 50px auto;
		width: 150px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background-color: #99ffd6;
		border-radius: 6px;
	}
}

.question {
	img {
		display: block;
		width: 80%;
		margin: 16px auto;
	}
	.title {
		font-size: 20px;
		text-align: justify;
		width: 70%;
		margin: 0 auto;
	}

	.answerList li{
		display: block;
		width: 180px;
		height: 30px;
		line-height: 30px;
		border-radius: 6px;
		padding-left: 6px;
		margin: 12px auto;
		background-color: #99ffd6;
		color: #4f4f4f;
	}

	.light  {
		text-align: center;
		li {
			margin: 12px 6px;
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 50%;

		}
	}
	.finish {
		background-color: #ffe269;
	}
	.unfinished {
		background-color: #5d5d5d;
	}
}